@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    color: #666;
    font: 16px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
}

#intro
 {
  margin: 5rem auto 3rem auto;
  max-width: 80%;
}

#name{
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
}

.mainTitle{
  font-family: 'Josefin Slab';
  font-size: 3rem;
  font-weight: 300;
}

#aboutMe
{
 background-color: #ccc;
 padding: 2rem 0rem;
}

.greeting{
  font-family: "Josefin Slab";
  font-size: 2rem;
  font-weight: 500;
}

.opening{
  font-size: 1.125rem;
}

.link{
  font-family: 'Josefin Slab';
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: .5rem;
}

.profile{
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 80%;
}

.profile__heading{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.profile__image{
  max-width: 100%;
}

.title{
  font-family: 'Josefin Slab';
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}


/* Start Projects Section */

#projects{
  background-color: #fff;

  margin-left: 8%;
  position: relative;
  overflow: hidden;
  max-width: 82%;

}

.projects__title{
  font-family: 'Josefin Slab';
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

/* .arrow-up {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 1.5rem solid #ccc;
  margin: 0 auto;
} */

.projects{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem; */
  border-top: .125rem solid #ccc;

  position: relative;
  display: flex;
  margin: 0 auto;
  width: 5000px;
  transition: 2s ease;
}

.project__container{
  text-align: center;
  width: 400px;

}

.single__project{
  padding-top:1rem;
  margin: 1rem;
}

.project__image{
  text-align: center;
  height: auto;
  max-width: 100%;
}

.project__description{
  font-size: .75rem;
  padding: .5rem;
  color: #000;
  background-color:#09f;
}

/* Start Carosuel Styling */

.carousel__buttons{
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  width: 90%;
  position: absolute;
  top: 50%;
  left: 7%;
}

/* .carousel__buttons_bar{
  background-color: #;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 86%;
  position: absolute;
  top: 50%;
  left: 7%;
} */

#testingDivForButtons {
  position: relative;
  
}


.arrow-left {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 5%;
  border-bottom: 3rem solid transparent;
  border-top: 3rem solid transparent;
  border-right: 1.5rem solid #ccc;
}


.arrow-right {
  position: absolute;
  z-index: 1;
  top: 40%;
  right: 5%;
  border-bottom: 3rem solid transparent;
  border-left: 1.5rem solid #ccc;
  border-top: 3rem solid transparent;
}


/* Let's Talk Section */

#letsTalk{
  background-color: #ccc;
  padding: 3rem 0rem;
}

.contact{
  margin: 0 auto;
  max-width: 80%;
}

.contact__text{
  font-size: 1.5rem;
  text-align: center;
}

.contact__info{
  display: flex;
  flex-flow: row;
  font-family: 'Josefin Slab';
  font-size: 2rem;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 1rem;
}



/* Start Nav Styling */

nav {
  background: #333;
  display: flex;
  flex-flow: row;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: #fff;
  font-family: 'Josefin Slab';
  padding: .5em 2em;
  text-decoration: none;
}

nav a:hover {
  background: #666;
}



/* Start Modal Styling */

span.live {
  border-bottom: 1px dashed #09f;
  cursor: pointer;
}

span.live:hover {
  color: #09f;
  font-weight: 700;
}

.modal-open {
  /* hide scrolling when modal open */
  overflow: hidden;
}

#backdrop {
  align-items: center;
  background: rgba(0,0,0,0.7);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

  .modal #backdrop {
  display: flex;
}

#modal {
  background: #fff;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px 5px #333; */
  height: 80vh;
  padding: 1rem 1rem 1rem 3rem;
  width: 80vw;
  opacity: .8;
}

.resume {
  float: left;
  margin-top: 3rem;
}

#modal button {
  background: #eee;
  border: 0;
  /* border-radius: 3px; */
  cursor: pointer;
  float: right;
  padding: 1rem;
  font-family: 'Josefin Slab';
  font-size: 1.25rem;
}

#modal button:hover {
  background: #999;
  color: #fff;
}

#modal #modal-content {
  clear: both;
  padding-top: 1em;
}



/* Start Media Queries */

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 750px) {

  nav {
    display: flex;
    flex-flow: column;
  }
  nav a {
    display: none;
  }
  nav::before {
    background: #000;
    color: #fff;
    content: 'SHOW MENU';
    font-weight: bold;
    padding: 0.5em 2em;
  }
  nav.open::before {
    content: 'HIDE MENU';
  }
  nav.open a {
    display: block;
  }

  nav ::selection {
    background: transparent;
    color: inherit;
  }
}



@media screen and (max-width: 40em) {
 
}

@media screen and (max-width: 25em) {
 
}